
.banner {
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}


  .bannerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.product-cards {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  margin: 20px;
  padding: 20px;
  border-radius: 20px; /* Increased border-radius for rounded corners */
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 350px; /* Increased width for larger product cards */
}

.product-image-wrapper {
  text-align: center;
}

.product-image {
  width: 100%; /* Make the image responsive to its container */
  max-height: 350px; /* Limit the maximum height of the image */
  border-radius: 20px; /* Increased border-radius for rounded corners */
  object-fit: cover;
}

.product-details {
  margin-top: 10px;
}

.product-name {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

